<div class="row breadcrumbs">
  <div class="col-12">
    <div class="container-fluid">
      <app-pagetitle [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    </div>
  </div>
</div>

<div class="container-fluid">

  <!-- start page title -->
  <!-- <app-pagetitle title="Alerts" [breadcrumbItems]="breadCrumbItems"></app-pagetitle> -->
  <!-- end page title -->
  <div class="row">
    <div class="col-12">
      <h1 class="page-header">Alerts</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Default Alerts</h4>
          <p class="card-title-desc">Alerts are available for any length of text, as well as an optional dismiss button. For proper styling, use one of the four <strong>required</strong> contextual type (e.g., <code class="highlighter-rouge">success</code>).</p>

          <div class="">

            <ngb-alert [dismissible]="false" type="primary" class="d-flex flex-row">
              <i class="fas fa-bell mr-2"></i>
              <span>A simple primary alert—check it out!</span>
            </ngb-alert>
            <ngb-alert [dismissible]="false" type="secondary" class="d-flex flex-row">
              <i class="fas fa-question-circle mr-2"></i>
              <span>A simple secondary alert—check it ou</span>t!
            </ngb-alert>
            <ngb-alert [dismissible]="false" type="success" class="d-flex flex-row">
              <i class="fas fa-check-circle mr-2"> </i> A simple success alert—check it out!
            </ngb-alert>
            <ngb-alert [dismissible]="false" type="danger" class="d-flex flex-row">
              <i class="fas fa-exclamation-triangle mr-2"></i>
              <span>A simple danger alert—check it out!</span>
            </ngb-alert>
            <ngb-alert [dismissible]="false" type="warning" class="d-flex flex-row">
              <i class="fas fa-exclamation-circle mr-2"></i>
              <span>A simple warning alert—check it out!</span>
            </ngb-alert>
            <ngb-alert [dismissible]="false" type="info" class="d-flex flex-row">
              <i class="fas fa-info-circle mr-2"></i> 
              <span>A simple info alert—check it out!</span>
            </ngb-alert>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Link color</h4>
          <p class="card-title-desc">Use the <code class="highlighter-rouge">.alert-link</code> utility class to quickly provide matching colored links within any alert.</p>

            
          <div class="">
            <ngb-alert [dismissible]="false" type="primary" class="d-flex flex-row">
              <i class="fas fa-bell mr-2"></i> 
              <span>A simple primary alert with <a href="javascript: void(0);" class="alert-link">an example link</a>. Give it a click if you like.</span>
            </ngb-alert>
            <ngb-alert [dismissible]="false" type="secondary" class="d-flex flex-row">
              <i class="fas fa-question-circle mr-2"></i> 
              <span>A simple secondary alert with <a href="javascript: void(0);" class="alert-link">an example link</a>. Give it a click if you like.</span>
            </ngb-alert>
            <ngb-alert [dismissible]="false" type="success" class="d-flex flex-row">
              <i class="fas fa-check-circle mr-2 success"></i>
              <span>A simple success alert with <a href="javascript: void(0);" class="alert-link">an example link</a>. Give it a click if you like.</span>
            </ngb-alert>
            <ngb-alert [dismissible]="false" type="danger" class="d-flex flex-row">
              <i class="fas fa-exclamation-triangle mr-2"></i>
              <span>A simple danger alert with <a href="javascript: void(0);" class="alert-link">an example link</a>. Give it a click if you like.</span>
            </ngb-alert>
            <ngb-alert [dismissible]="false" type="warning" class="d-flex flex-row">
              <i class="fas fa-exclamation-circle mr-2"></i> 
              <span>A simple warning alert with <a href="javascript: void(0);" class="alert-link">an example link</a>. Give it a click if you like.</span>
            </ngb-alert>
            <ngb-alert [dismissible]="false" type="info" class="d-flex flex-row">
              <i class="fas fa-info-circle mr-2"></i> 
              <span>A simple info alert with <a href="javascript: void(0);" class="alert-link">an example link</a>. Give it a click if you like.</span>
            </ngb-alert>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->

  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Dismissing</h4>
          <p class="card-title-desc">
            Add a dismiss button and the <code>.alert-dismissible</code> class, which adds extra padding
            to the right of the alert and positions the <code>.close</code> button.
          </p>

          <div *ngFor="let color of alertData">
            <ngb-alert type="{{color.color}}" (close)="close(color, alertData)">
              <i class="fas fa-bell mr-2" *ngIf="color.color == 'primary'"></i>
              <i class="fas fa-question-circle mr-2" *ngIf="color.color == 'secondary'"></i>
              <i class="fas fa-check-circle mr-2" *ngIf="color.color == 'success'"></i>
              <i class="fas fa-exclamation-triangle mr-2" *ngIf="color.color == 'danger'"></i>
              <i class="fas fa-exclamation-circle mr-2" *ngIf="color.color == 'warning'"></i>
              <i class="fas fa-info-circle mr-2" *ngIf="color.color == 'info'"></i>

              <!-- color.color   if color.color class icon variable {{}}
                primary bell
                success check-circle
                danger exclamation-triangle
                warning exclamation-circle
                info info-circle
              -->


              <span>A simple {{color.color}} alert—check it out!</span></ngb-alert>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div> <!-- container-fluid -->
