<div class="row breadcrumbs">
  <div class="col-12">
    <div class="container-fluid">
      <app-pagetitle [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    </div>
  </div>
</div>

<div class="container-fluid">
  <!-- <app-pagetitle title="Starter Page" [breadcrumbItems]="breadCrumbItems"></app-pagetitle> -->
  <div class="row">
    <div class="col-12">
      <h1 class="page-header">Not Found</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-3">
      <chat-card></chat-card>
    </div>

    <div class="col-xl-9">
      <div class="card">
        <h4 class="card-header mt-0">Card Title</h4>
        <div class="card-notice">Please complete the necessary fields below</div>
        <div class="card-body">
          <p class="card-text">Card-Text</p>
        </div>
      </div>


      <calling-card></calling-card>
    </div>    

  </div>
</div>
