<div class="row breadcrumbs">
  <div class="col-12">
    <div class="container-fluid">
      <app-pagetitle [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    </div>
  </div>
</div>

<div class="container-fluid">

  <!-- Page title -->
  <div class="row">
    <div class="col-12">
      <h1 class="page-header">Contact USLI</h1>
    </div>
  </div>
  <!-- Page title -->
  <div class="row">
    <div class="col-xl-3">
      
      <chat-card></chat-card>

    </div>

    <div class="col-xl-9">
      <div class="card">
        <h4 class="card-header mt-0">Contact USLI</h4>
        <div class="card-notice">
            Please complete the necessary fields below
        </div>

        <div class="card-body">
          <p class="card-text error-500 fw-semibold"><sup>*</sup> Required Field</p>
          <div class="form-group row">
            
            <div class="col-md-6">
              
              <label class="col-form-label">Inquiry Subject<sup>*</sup></label>
              <select class="form-control is-invalid">
                <option>Select</option>
                <option>Billing and Payment Questions</option>
                <option>Web site and Technical Support</option>
              </select>
              <sub>We promise to get back to you within 1 business day</sub>
              <!-- <div class="invalid-tooltip">
                Looks good!
              </div> -->
              <!-- <div class="valid-feedback">Looks good!</div> -->
              <!-- <div class="invalid-feedback">Example invalid select feedback</div> -->
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <label for="contact-name" class="col-form-label">Your Name<sup>*</sup></label>
              <input type="text" class="form-control is-invalid" value="" placeholder="Enter your name" id="contact-name" required>
              <!-- <sub class="col-6">Hint text</sub> -->
              <!-- <div class="invalid-feedback">Please enter your name.</div> -->
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="contact-email" class="col-form-label">Your Email Address<sup>*</sup></label>
              <input class="form-control is-valid" value="" placeholder="Enter your email address" id="contact-email" required>
              <!-- <sub class="col-6">Hint text</sub> -->
              <!-- <div class="valid-feedback">Looks good!</div> -->
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="contact-policynumber" class="col-form-label">Policy Number<sup>*</sup></label>
              <input class="form-control" type="text" value="" placeholder="Enter your policy number" id="contact-policynumber" required>
              <!-- <sub class="col-6">Hint text</sub> -->
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="contact-phonenumber" class="col-form-label">Your Phone Number<!--<sup>*</sup>--></label>
              <input class="form-control" type="text" value="" placeholder="(XXX) XXX-XXXX" id="contact-phonenumber">
              <!-- <sub class="col-6">Hint text</sub> -->
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="contact-inquirydesc" class="col-form-label">Inquiry Description<sup>*</sup></label>
              <textarea class="form-control" type="text" value="" placeholder="Please enter any information that would be able to help us appropriately address your question or issue." id="contact-inquirydesc" required></textarea>
              <!-- <sub class="col-6">Hint text</sub> -->
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <br>
              <button type="button" class="btn btn-link" (click)="clickHome()">Cancel</button>
              <button type="button" class="btn btn-secondary ml-2">Clear</button>
              <button type="button" class="btn btn-success ml-2">Send</button>
            </div>
          </div>
        </div>
      </div>

      <calling-card></calling-card>
    </div>
</div>
