<!-- 
  Privacy Card 
  Location: src\app\shared\ui\cards\privacy\privacy.component.html
-->
<div class="card">
  <h4 class="card-header mt-0">We Walue Your Privacy</h4>
  <div class="card-body card-text">
    <p>By providing the following information, you will be able to access information regarding your policies with us.<br><strong>Note:</strong> We do not sell your Policyholder information. See our <a href="javascript:void()" title="Click here to view the Privacy Policy">Privacy Policy</a> for more information.</p>
    <!-- <p>We will not sell or distribute your information. Read our <a href="javascript:void()" title="Click here to view the Privacy Policy">Privacy Policy</a> and <a href="javascript:void()" title="Click here to view the Terms &#38; Conditions">Terms &#38; Conditions</a>.</p> -->
  </div>
</div>
<!--// Privacy Card -->