<!-- 
  Calling Card 
  Location: src\app\shared\ui\cards\calling\calling.component.html
-->
<div class="card">
  <h4 class="card-header mt-0">Have Questions or Want to Pay by Phone (Pagar Por Telefono)?</h4>
  <div class="card-body">
    <p class="card-text">For billing, user registration and payment assistance, please call <a href="tel:1-866-632-2003" title="For billing, registration, or payment assistance call 1-866-632-2003">1-866-632-2003</a> (USA: 24/7 Canada: M-F 8am-8pm ET)<br>For non-billing questions and assistance, please contact your local agent</p>
  </div>
</div>
<!--// Calling Card -->