<div class="row breadcrumbs">
  <div class="col-12">
    <div class="container-fluid">
      <app-pagetitle [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    </div>
  </div>
</div>

<div class="container-fluid">
  <!-- <app-pagetitle title="Remix Icons" [breadcrumbItems]="breadCrumbItems"></app-pagetitle> -->
  <div class="row">
    <div class="col-12">
      <h1 class="page-header">Remix Icons</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12" id="icons"></div>
    <!-- end col-->
  </div>
  <!-- end row-->
</div>
