<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">Copyright &copy; {{getYear}} United States Liability Insurance Group. All Rights Reserved.</div>
      <div class="col-6">
        <div class="text-sm-right d-none d-sm-block">
          <a href="javascript:void()" title="Click to read our Fraud  Policy">Fraud &#38; Policy</a> | <a href="javascript:void()" title="Click to read our Privacy Policy">Privacy Policy</a> | <a href="javascript:void()" title="Click to be taken to our Contact Us">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</footer>
