
.glossary-list {
    list-style: none;
    padding: 0;

    li {
        float: left;

        &:after {
            padding: 0 2px;
            content: "-";            
        }
        &:last-child:after {
            content: "";
        }
    }
}

.nav[role="tablist"] {
    background: #485E9024;
    box-shadow: -1px 2px 4px 0px #e0e7f1;
    -webkit-box-shadow: -1px 2px 4px 0px #e0e7f1;
    -moz-box-shadow: -1px 2px 4px 0px #e0e7f1;
    position: relative;
    display: inline-flex;
    vertical-align: middle;

    a.btn { 
        border-radius: 0px;
        border: 1px solid #485E9024;

        &.faq {
            border-right: none;
            border-radius: 4px 0 0 4px;
        }
        &.brc {
            border-left: none;
            border-radius: 0 4px 4px 0;
        }
    }
}