<!-- 
  Get Documents Card 
  Location: src\app\shared\ui\cards\getdocuments\getdocuments.component.html
-->
<div class="card">
  <h4 class="card-header mt-0">Get Documents</h4>
  <div class="card-body">
    <a [routerLink]="['/policy/documents/certificate']" title="Click to fill out Certificate of Insurance" class="btn btn-secondary w-100 mb-3">Certificate of Insurance</a>
    <a [routerLink]="['/policy/documents/evidence']" title="Click to fill out Evidence of Property form" class="btn btn-secondary w-100">Evidence of Property</a>
  </div>
</div>
<!--// Get Documents Card -->